* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";

}

.comp-logo {
    display: flex;
    position: relative;
}

.div-logo-one {

    background-color: #314357;
    height: 3vw;
    width: 3vw;
    margin-top: 4vw;
    margin-left: 5vw;

}

.div-logo-two {
    background-color: #4E7584;
    height: 2.5vw;
    width: 2.5vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.first-text h2 {
    margin-top: 4.5vw;
    margin-left: 2vw;
    color: #fb4012;
    font-size: 2vw;
}

.second-text h2 {
    margin-top: 4.5vw;
    margin-left: 0.5vw;
    color: black;
    font-weight: 500;
    font-size: 2vw;
}

.comp-name {
    display: flex;
    position: relative;

}

.company-logo-flex {
    display: flex;
    flex-direction: row;

}

.round-one {
    background-color: #005036c9;
    height: 22vw;
    width: 23vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 35vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-1 h1 {
    color: white;
    margin-top: 4vw;
    font-size: 2.9vw;
}

.text-2 h1 {
    color: white;
    font-size: 2.9vw;
}

.text-3 h1 {
    color: white;
    font-size: 2.9vw;
}

.company-header-flex {
    display: flex;

}

.img img {
    position: relative;
    z-index: -1;
    margin-top: 3vw;
    height: 38vw;
    width: 100%;

}

.footer-part {
    background-color: #4c757700;
    height: 29vw;
    width: 50%;
    display: flex;
}

.services h1 {
    margin-top: 5vw;
    font-size: 1.5vw;
    font-weight: 800;
    color: #005036c9;
    margin-left: 20vw;
}

.number-one h1 {
    margin-top: 1.2vw;
    margin-left: 1.8vw;
    color: #ff4415;
    font-size: 5vw;
}

.number-one-1 h1 {
    letter-spacing: 0.3vw;
    margin-top: 2.7vw;
    margin-left: 2.2vw;
    color: #ff4415;
    font-size: 5vw;

}

.content-heading-one h1 {
    margin-top: 3.6vw;
    margin-left: 1.3vw;
    font-size: 1.3vw;
    font-weight: 800;
    color: #005036c9;
}

.content-heading-one p {
    margin-left: 1.3vw;
    text-align: justify;
    font-size: 0.9vw;
    height: 5vw;
    width: 45vw;
}

.content-heading-two h1 {
    margin-top: 2.3vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    font-weight: 900;
    color: #005036c9;

}

.content-heading-two p {
    margin-left: 1vw;
    text-align: justify;
    font-size: 0.9vw;
    height: 5vw;
    width: 45vw;

}

.content-heading-three h1 {
    margin-top: 2.6vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    font-weight: 800;
    color: #005036c9;

}

.content-heading-three p {
    margin-left: 1vw;
    text-align: justify;
    font-size: 0.9vw;
    height: 5vw;
    width: 45vw;

}

.flex-content-one {
    display: flex;
    margin-top: 0.5vw;
    margin-left: 2vw;
}


.div-one {
    height: 15vw;
    background-color: rgba(0, 67, 46, 0.788);
    width: 30vw;
    margin-left: 3vw;
}

.div-two {
    height: 17vw;
    background-color: #fb3d0d;
    width: 30vw;
    margin-left: 3vw;
}

.div-three {
    height: 5vw;
    background-color: #ace0eb;
    width: 30vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
}


.div-one-flex {
    display: flex;
    flex-direction: column;
}

.div-one-flex h1 {
    color: white;
    font-size: 1.6vw;
    text-align: center;
    margin-top: 2.7vw;
}

.div-one-flex p {
    margin-left: 4vw;
    height: 5vw;
    width: 22vw;
    color: white;
    font-size: 0.9vw;
    text-align: justify;
    margin-top: 0.6vw;
}

.div-three h2 {
    margin-top: 2vw;
    text-align: center;
    font-size: 0.8vw;
    color: #314357;
}

.last-orange-part {
    margin-top: 10vw;
    height: 1.5vw;
    background-color: #fb4012;
}

.second-half {
    position: relative;
    bottom: 0.1vw;

}

@media (max-width:1158px) {
    .second-half {
        position: relative;
        bottom: 0.3vw;

    }
}

@media (max-width:1140px) {
    .second-half {
        position: relative;
        bottom: 0.3vw;

    }
}

@media (max-width:943px) {
    .second-half {
        position: relative;
        bottom: 0.5vw;

    }
}


/* Responsive 716 Pixels */
@media (max-width:716px) {


    .round-one {
        background-color: #005036c9;
        height: 27vw;
        width: 26vw;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-left: 38vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .text-1 h1 {
        color: white;
        margin-top: 6vw;
        font-size: 3.7vw;
    }

    .text-2 h1 {
        color: white;
        font-size: 3.7vw;
    }

    .text-3 h1 {
        color: white;
        font-size: 3.7vw;
    }

    .img img {
        position: relative;
        z-index: -1;
        margin-top: 3vw;
        height: 55vw;
        width: 100%;

    }

    .second-half {
        position: relative;
        bottom: 0.1vw;

    }

    .number-one h1 {
        margin-top: 1.2vw;
        margin-left: 1.8vw;
        color: #ff4415;
        font-size: 5vw;
    }
    
    .number-one-1 h1 {
        letter-spacing: 0.3vw;
        margin-top: 2.7vw;
        margin-left: 2.2vw;
        color: #ff4415;
        font-size: 5vw;
    
    }


}


@media (max-width:714px) {
    .second-half {
        position: relative;
        bottom: 0.5vw;

    }
}


@media (max-width:600px) {

    .comp-logo {
        display: flex;
        position: relative;


    }

    .div-logo-one {

        background-color: #314357;
        height: 5.5vw;
        width: 5.5vw;
        margin-top: 5vw;
        margin-left: 5vw;


    }

    .div-logo-two {
        background-color: #4E7584;
        height: 4.7vw;
        width: 4.7vw;
        margin-top: 0.8vw;
        margin-left: 0.8vw;

    }

    .first-text h2 {
        margin-top: 5.5vw;
        margin-left: 2vw;
        color: #fb4012;
        font-size: 3vw;
    }

    .second-text h2 {
        margin-top: 5.5vw;
        margin-left: 0.5vw;
        color: black;
        font-weight: 500;
        font-size: 3vw;
    }

    .comp-name {
        display: flex;
        position: relative;


    }

    .company-logo-flex {
        display: flex;
        flex-direction: row;


    }

    .round-one {
        background-color: #005036c9;
        height: 32vw;
        width: 30vw;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-left: 25vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .text-1 h1 {
        color: white;
        margin-top: 8vw;
        font-size: 4.5vw;
    }

    .text-2 h1 {
        color: white;
        font-size: 4.5vw;
    }

    .text-3 h1 {
        color: white;
        font-size: 4.5vw;
    }



    .company-header-flex {
        display: flex;

    }

    .img img {
        position: relative;
        z-index: -1;
        margin-top: 3vw;
        height: 69vw;
        width: 100%;

    }

    .footer-part {
        background-color: #4c757700;
        height: 29vw;
        width: 50%;
        display: flex;
    }




    .services h1 {
        margin-top: 9vw;
        font-size: 2vw;
        font-weight: 800;
        color: #005036c9;
        margin-left: 20vw;
    }

    .number-one h1 {
        margin-top: 1.2vw;
        margin-left: 1.8vw;
        color: #ff4415;
        font-size: 7vw;
    }

    .number-one-1 h1 {
        letter-spacing: 0.3vw;
        margin-top: 1.4vw;
        margin-left: 2.2vw;
        color: #ff4415;
        font-size: 7vw;


    }

    .content-heading-one h1 {
        margin-top: 2.3vw;
        margin-left: 1.3vw;
        font-size: 1.7vw;
        font-weight: 800;
        color: #005036c9;

    }

    .content-heading-one p {
        margin-left: 1.3vw;
        text-align: justify;
        font-size: 1.2vw;
        color: black;
        height: 5vw;
        width: 40vw;
    }

    .content-heading-two h1 {
        margin-top: 2.3vw;
        margin-left: 1vw;
        font-size: 1.7vw;
        font-weight: 800;
        color: #005036c9;

    }

    .content-heading-two p {
        margin-left: 1vw;
        text-align: justify;
        font-size: 1.2vw;
        color: black;
        height: 5vw;
        width: 40vw;
    }

    .content-heading-three h1 {
        margin-top: 2.3vw;
        margin-left: 1vw;
        font-size: 1.7vw;
        font-weight: 800;
        color: #005036c9;

    }

    .content-heading-three p {
        margin-left: 1vw;
        text-align: justify;
        font-size: 1.2vw;
        color: black;
        height: 5vw;
        width: 40vw;
    }

    .flex-content-one {
        display: flex;
        margin-top: 3vw;
        margin-left: 2vw;
    }

    .flex-content-one {
        margin-top: 5vw;
    }


    .div-one {
        height: 27vw;
        background-color: #005036c9;
        width: 38vw;
        margin-left: 6vw;
    }

    .div-two {
        height: 27vw;
        background-color: #ff4415;

        width: 38vw;
        margin-left: 6vw;
    }

    .div-three {
        height: 8vw;
        background-color: #ace0eb;
        width: 38vw;
        margin-left: 6vw;

    }

    .div-one-flex {
        display: flex;
        flex-direction: column;
    }

    .div-one-flex h1 {
        color: white;
        font-size: 2.1vw;
        text-align: center;
        margin-top: 4.9vw;
    }

    .div-one-flex p {
        margin-left: 4vw;
        height: 5vw;
        width: 29vw;
        color: white;
        font-size: 1.3vw;
        text-align: justify;
        margin-top: 0.6vw;
    }

    .div-three h2 {
        margin-top: 2.8vw;
        text-align: center;
        font-size: 1.4vw;
        color: #314357;
    }

    .last-orange-part {
        margin-top: 39vw;
        height: 1.5vw;
        background-color: #ff4415;

    }

    .second-half {
        position: relative;
        bottom: 0.7vw;

    }


}


@media (max-width:495px) {
    .second-half {
        position: relative;
        bottom: 0.8vw;

    }
}


@media (max-width:434px) {
    .second-half {
        position: relative;
        bottom: 0.9vw;

    }
}


@media (max-width:418px) {

    .comp-logo {
        display: flex;
        position: relative;


    }

    .div-logo-one {

        background-color: #314357;
        height: 5.5vw;
        width: 5.5vw;
        margin-top: 5vw;
        margin-left: 5vw;


    }

    .div-logo-two {
        background-color: #4E7584;
        height: 4.7vw;
        width: 4.7vw;
        margin-top: 0.8vw;
        margin-left: 0.8vw;

    }

    .first-text h2 {
        margin-top: 5.5vw;
        margin-left: 2vw;
        color: #fb4012;
        font-size: 3vw;
    }

    .second-text h2 {
        margin-top: 5.5vw;
        margin-left: 0.5vw;
        color: black;
        font-weight: 500;
        font-size: 3vw;
    }

    .comp-name {
        display: flex;
        position: relative;


    }

    .company-logo-flex {
        display: flex;
        flex-direction: row;


    }

    .round-one {
        background-color: #005036c9;
        height: 32vw;
        width: 30vw;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-left: 25vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .text-1 h1 {
        color: white;
        margin-top: 8vw;
        font-size: 4.5vw;
    }

    .text-2 h1 {
        color: white;
        font-size: 4.5vw;
    }

    .text-3 h1 {
        color: white;
        font-size: 4.5vw;
    }



    .company-header-flex {
        display: flex;

    }

    .img img {
        position: relative;
        z-index: -1;
        margin-top: 3vw;
        height: 69vw;
        margin-left: 0.2vw;
        width: 110.5vw;

    }

    .footer-part {
        background-color: #4c757700;
        height: 29vw;
        width: 50%;
        display: flex;
        flex-direction: column;
    }




    .services h1 {
        width: 70vw;
        margin-top: 5vw;
        font-size: 3.5vw;
        font-weight: 800;
        color: #005036c9;
        margin-left: 41svw;
    }

    .number-one h1 {
        letter-spacing: 0.3vw;
        margin-top: 0.5vw;
        margin-left: 6.2vw;
        color: #ff4415;
        font-size: 12vw;
    }

    .number-one-1 h1 {
        letter-spacing: 0.3vw;
        margin-top: 0.5vw;
        margin-left: 8vw;
        color: #ff4415;
        font-size: 12vw;


    }

    .content-heading-one h1 {
        margin-top: 2.3vw;
        margin-left: 3.3vw;
        font-size: 2.5vw;
        font-weight: 800;
        color: #005036c9;

    }

    .content-heading-one p {
        margin-top: 1vw;
        margin-left: 3.3vw;
        text-align: justify;
        font-size: 1.9vw;
        color: black;
        height: 5vw;
        width: 70vw;
    }

    .content-heading-two h1 {
        margin-top: 2.3vw;
        margin-left: 4vw;
        font-size: 2.5vw;
        font-weight: 800;
        color: #005036c9;

    }

    .content-heading-two p {
        margin-top: 1vw;
        margin-left: 4vw;
        text-align: justify;
        font-size: 1.9vw;
        color: black;
        height: 5vw;
        width: 70vw;
    }

    .content-heading-three h1 {
        margin-top: 2.3vw;
        margin-left: 3.3vw;
        font-size: 2.5vw;
        font-weight: 800;
        color: #005036c9;
    }

    .content-heading-three p {
        margin-top: 1vw;
        margin-left: 3.3vw;
        text-align: justify;
        font-size: 1.9vw;
        color: black;
        height: 5vw;
        width: 70vw;
    }

    .flex-content-one {
        display: flex;
        margin-top: 3vw;
        margin-left: 2vw;
    }

    .flex-content-one {
        margin-top: 5vw;
    }

    .second-half {
        margin-top: 9vw;
    }

    .div-one {
        height: 27vw;
        background-color: #005036c9;
        width: 89vw;
        margin-left: 9vw;


    }

    .div-two {
        height: 29vw;
        background-color: #ff4415;
        width: 89vw;
        margin-left: 9vw;
    }

    .div-three {
        height: 8vw;
        background-color: #ace0eb;
        width: 89vw;
        margin-left: 9vw;

    }

    .div-one-flex {
        display: flex;
        flex-direction: column;
    }

    .div-one-flex h1 {
        color: white;
        font-size: 4.1vw;
        text-align: center;
        margin-top: 4.9vw;
    }

    .div-one-flex p {
        margin-left: 10vw;
        height: 5vw;
        width: 69vw;
        color: white;
        font-size: 1.9vw;
        text-align: justify;
        margin-top: 2.2vw;
    }

    .div-three h2 {
        margin-top: 2.8vw;
        text-align: center;
        font-size: 1.9vw;
        color: #314357;
    }

    .last-orange-part {
        margin-top: 119vw;
        margin-left: 0.2vw;
        height: 1.9vw;
        width: 110.5vw;
        background-color: #ff4415;

    }

}
